<h1>Bulk Discount Show Page</h1>
Merchant: <%= @merchant.name %>
Percent Off: <%= @bulk_discount.discount %><br>
Required Qty: <%= @bulk_discount.quantity %><br>
<p>
<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>
